
@media (max-width: 980px) {
    #intro {
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 30px;
    }

    .cards{
        width: 100%;
        padding: 20px;
        grid-template-columns: 1fr;
    }
    .card{
        width: 100%;
    }

}
